@import "../../../../public/mediaConstants.scss";
.header__search {
  width: calc(45% - 10px);
  background: var(--lighterColor);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  order: 2;
  position: relative;
  // box-shadow: 0 0px 8px 3px #b8b8b8;
  @media (max-width: $md3) {
    order: 5;
    width: 100%;
    // padding: 7px 10px;
    margin-top: 10px;
  }
  @media (max-width: $md4) {
    margin-top: 5px;
  }
  img {
    height: 40px;
    width: 40px;
  }
}
