@import "../public/mediaConstants.scss";
@font-face {
  font-family: "Anek-Tamil";
  src: local("Anek-Tamil"),
    url("./assets/fonts/VarelaRound-Regular.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // color: #a1ca89;
}
body {
  font-family: "Anek-Tamil";
}
._container {
  min-height: 100vh;
  max-width: $maxWidthContainer;
  margin: 0 auto;
  padding: 15px 25px;
  @media (max-width: $md1) {
    max-width: 970px;
  }
  @media (max-width: $md2) {
    max-width: 750px;
  }
  @media (max-width: $md3) {
    max-width: none;
  }
  @media (max-width: $md4) {
    padding: 10px;
  }
}
.wrapper {
  width: 100%;
}

input {
  outline: none;
  border: none;
  margin: 0 10px 0 7px;
  font-size: 20px;
  width: 100%;
  border-bottom: 2px dashed #7c7b7b;
  font-family: "Anek-Tamil";
}
.invalid {
  animation: move 1.5s;
}
html[data-theme="dark"] {
  --mediumColor: #252222;
  --lighterColor: #352f2f;
  --darkerColor: #1a1717;
  --textColor: #c9c5c5;
  --extraColor: #5e5858;
  input {
    background: var(--lighterColor);
  }
  body {
    background: var(--mediumColor);
    color: var(--textColor);
  }
  a {
    color: var(--textColor);
  }
}
html[data-theme="light"] {
  --darkerColor: #707585;
  --mediumColor: #a6a8af;
  --lighterColor: #c6c7ce;
  --textColor: #2b2d35;
  --extraColor: #8d919d;
  input {
    background: var(--lighterColor);
  }
  body {
    background: var(--mediumColor);
    color: var(--textColor);
  }
  a {
    color: var(--textColor);
  }
}
